{% extends "base.html" %}
{% block content %}
    <h1>Task</h1>
		<p> <a href='/Logout'>Logout</a> <br> </p>
    
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.task_name.label }}<br>
            {{ form.task_name(size=32) }}
        </p>
				<p>
            {{ form.deadline.label }}<br>
            {{ form.deadline(size=32) }}
        </p>
        <p>
            {{ form.task_description.label }}<br>
            {{ form.task_description(size=128) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

	{% for post in posts %}
    <div>
        <p> Task Name: {{ post.Name }} <br> 
			Task Description: {{ post.Description}} <br>
			Deadline: {{ post.Deadline }}</p>
    </div>
    {% endfor %}

{% endblock %}
