<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title> Task Menu </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
    </head>
    <header>
        <div class="container">
            <img src="{{ url_for('static', filename='img/logo.png')}}" class="logo">
            <nav>
                <ul>
                    <li><a href='/taskmenu'>HOME</a></li>
                    <li><a href='/createtask'>CREATE TASK</a></li>
                    <li><a href='/team'>MANAGE TEAM</a></li>
                    <li><a href='/Logout'>LOG OUT</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <body>
        <div class="div2">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <table class="center">
            <tr>
                <th>Task</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            {% for post in posts %}
            <tr>
                <td>
                    {{ post.Name }}
                </td>
                <td>
                    {% if post.completed == 'False' %}
                        Not Completed
                    {% else %}
                        Completed
                    {% endif %}
                </td>
                <td>
                    <a href="/deletetask/{{ post.id }}"><img src="{{ url_for('static', filename='img/delete.png')}}" width = "15%" height = "auto" /></a>
                    {% if post.completed == 'False' %}
                        <a href="/checktask/{{ post.id }}"><img src="{{ url_for('static', filename='img/check.png')}}"width = "15%" height = "auto" /></a>
                    {% else %}
                        <a href="/unchecktask/{{ post.id }}"><img src="{{ url_for('static', filename='img/check.png')}}" width = "15%" height = "auto" /></a>
                    {% endif %}
                    <a href="/edit/{{ post.id }}"><img src="{{ url_for('static', filename='img/Edit.png')}}" width = "15%" height = "auto" /></a>
                    <a href="/taskinfo/{{ post.id }}"><img src="{{ url_for('static', filename='img/View.png')}}" width = "15%" height = "auto" /></a>
                    <a href="/AssignTask/{{ post.id }}"><img src="{{ url_for('static', filename='img/Assign.png')}}" width = "15%" height = "auto" /></a>
                </td> 
            </tr>  
            {% endfor %}
        
        </table>  
    </div>    
    </body>
</html>