<!DOCTYPE html>
<html lang='en'>
    <head>
        <title> Task Menu </title>
        <style>
            h1 {text-align: center;}
            p {text-align: center;}
            table {border-spacing: 30px;}
            .center {
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    <body>
    <div class="content">
        <h1> TaskMate </h1>
        <a href='task'><p>Add Task</p></a>
        <table class="center">
            <tr>
                <th>Task Name</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>Completed</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style='text-align: center;'>
                    <a href=''>Delete Task</a>
                    <br>
                    <a href=''>Check Off Task</a>
                </td>
            </tr>  
          
        </table>
        <th></th>
    </div>    
    </body>
</html>